<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.picshare.dao.TopPicMapper">
    <resultMap id="BaseResultMap" type="com.picshare.model.TopPic">
        <result column="id" jdbcType="INTEGER" property="id"/>
    </resultMap>
    <insert id="insert" parameterType="com.picshare.model.TopPic">
        insert into top_pic (id)
        values (#{id,jdbcType=INTEGER})
    </insert>
    <insert id="insertSelective" parameterType="com.picshare.model.TopPic">
        insert into top_pic
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <select id="getAll" resultType="com.picshare.model.TopPic">
        select *
        from top_pic;
    </select>
</mapper>